# 忽略照片與圖片檔案
images_src/new/
*.gif
*.webp

# 允許上傳 ok 目錄中的圖片
!images_src/ok/
!images_src/ok/*.png
!images_src/ok/*.jpg
!images_src/ok/*.jpeg

# 忽略 Markdown 文件
md/
*.md

# 系統與臨時檔案
node_modules/
.DS_Store
Thumbs.db

# 課程大綱與投影片 (請勿上傳 GitHub)
教學大綱/
